<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
    <dict>
        <key>name</key>
        <string></string>
        <key>version</key>
        <real></real>
        <key>last_update</key>
        <date></date>
        <key>changelog</key>
        <array>
            <dict>
                <key>version</key>
                <real></real>
                <key>description</key>
                <string></string>
            </dict>
        </array>
        <key>authors</key>
        <array>
            <dict>
                <key>name</key>
                <string></string>
                <key>url</key>
                <string></string>
            </dict>
        </array>
        <key>git_username</key>
        <string></string>
        <key>git_repository</key>
        <string></string>
        <key>forum_link</key>
        <string></string>
        <key>type</key>
        <string></string>
        <key>dependencies</key>
        <array>
            <dict>
                <key>name</key>
                <string></string>
                <key>version</key>
                <real></real>
            </dict>
        </array>
        <key>web_services</key>
        <array>
            <dict>
                <key>name</key>
                <string></string>
                <key>url</key>
                <string></string>
            </dict>
        </array>
        <key>fingerprint</key>
        <string></string>
    </dict>
</array>
</plist>

<!--
<array>
    <dict>
        <key>name</key>
        <string>Alleyoop</string>
        <key>version</key>
        <real>3.01</real>
        <key>last_update</key>
        <date>2013-05-31T08:48:11Z</date>
        <key>changelog</key>
        <array>
            <dict>
                <key>version</key>
                <real>3.01</real>
                <key>description</key>
                <string>Bugfixes; multithreaded speed improvements.</string>
            </dict>
            <dict>
                <key>version</key>
                <real>3.0</real>
                <key>description</key>
                <string>Multithreading for improved speed.</string>
            </dict>
            <dict>
                <key>version</key>
                <real>2.0</real>
                <key>description</key>
                <string>JSON format changed; security improvements.</string>
            </dict>
        </array>
        <key>authors</key>
        <array>
            <dict>
                <key>name</key>
                <string>Daniel Shannon</string>
            </dict>
        </array>
        <key>git_username</key>
        <string>phyllisstein</string>
        <key>git_repository</key>
        <string>https://github.com/phyllisstein/Alleyoop</string>
        <key>forum_link</key>
        <string>http://www.alfredforum.com/topic/1582-alleyoop-update-alfred-workflows/</string>
        <key>type</key>
        <string>workflow</string>
        <key>dependencies</key>
        <array>
            <dict>
                <key>name</key>
                <string>Mac OS X</string>
                <key>version</key>
                <real>10.8</real>
            </dict>
        </array>
        <key>web_services</key>
        <array></array>
        <key>fingerprint</key>
        <string>finger_i_hardly_even_know_er</string>
    </dict>
    <dict>
        <key>name</key>
        <string>Background Command</string>
        <key>version</key>
        <real>1.0</real>
        <key>last_update</key>
        <date>2013-01-01T12:00:00Z</date>
        <key>changelog</key>
        <array>
            <dict>
                <key>version</key>
                <real>1.0</real>
                <key>description</key>
                <string>Initial release</string>
            </dict>
        </array>
        <key>authors</key>
        <array>
            <dict>
                <key>name</key>
                <string>Daniel Shannon</string>
                <key>url</key>
                <string>http://alfred.daniel.sh/</string>
            </dict>
        </array>
        <key>git_username</key>
        <string>phyllisstein</string>
        <key>git_repository</key>
        <string>https://github.com/phyllisstein/BackgroundCommand/</string>
        <key>forum_link</key>
        <string></string>
        <key>type</key>
        <string>workflow</string>
        <key>dependencies</key>
        <array></array>
        <key>web_services</key>
        <array></array>
        <key>fingerprint</key>
        <string>tnirpregnif</string>
    </dict>
</array>
-->
